[workspace]
members = [
    "source/kernel/neuron-boot",
    "source/kernel/neuron",
    "source/libs/*",
    "source/services/*",
    "source/init/*",
    "userspace/*",
    "userspace/apps/*",
    "source/apps/launcher",
    "source/apps/selftest-client",
    "source/drivers/net/virtio",
    "source/drivers/storage/virtio-blk",
    "source/drivers/console/virtio",
    "tools/*",
    "tests/e2e",
    "tests/e2e_policy",
    "tests/remote_e2e"
]
resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
