[package]
name = "execd"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
default = ["idl-capnp"]
idl-capnp = ["nexus-idl-runtime/capnp", "dep:capnp"]

[lib]
path = "src/lib.rs"

[dependencies]
exec-payloads = { path = "../../../userspace/exec-payloads" }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime" }
nexus-ipc = { path = "../../../userspace/nexus-ipc" }
nexus-abi = { path = "../../../source/libs/nexus-abi" }
capnp = { version = "0.19", optional = true }
thiserror = "1"

[[bin]]
name = "execd"
path = "src/main.rs"
