[package]
name = "storage-virtio-blk"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
default = []
os-lite = []

[dependencies]
nexus-hal = { path = "../../../libs/nexus-hal" }
nexus-abi = { path = "../../../libs/nexus-abi" }