[package]
name = "virtioblkd"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[features]
default = ["std"]
std = []
os-lite = []

[dependencies]

[target.'cfg(not(target_os = "none"))'.dependencies]
# Host stub for now (this service is OS-first).

[target.'cfg(all(target_os = "none", target_arch = "riscv64"))'.dependencies]
nexus-service-entry = { path = "../../libs/nexus-service-entry" }
nexus-abi = { path = "../../libs/nexus-abi" }
