[package]
name = "nexus-init"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
os-lite = ["nexus-ipc/os-lite"]

[dependencies]
samgrd = { path = "../../services/samgrd" }
bundlemgrd = { path = "../../services/bundlemgrd" }
keystored = { path = "../../services/keystored" }
policyd = { path = "../../services/policyd" }
execd = { path = "../../services/execd" }
nexus-vfs = { path = "../../../userspace/nexus-vfs" }
packagefsd = { path = "../../services/packagefsd" }
vfsd = { path = "../../services/vfsd" }
nexus-ipc = { path = "../../../userspace/nexus-ipc" }
nexus-sync = { path = "../../libs/nexus-sync" }
nexus-abi = { path = "../../libs/nexus-abi" }

[target.'cfg(not(all(nexus_env = "os", feature = "os-lite")))'.dependencies]
serde = { version = "1", features = ["derive"] }
toml = "0.8"
thiserror = "1"
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime" }
capnp = { version = "0.19" }

[dev-dependencies]
tempfile = "3"
