[package]
name = "nexus-init"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
default = ["std-server"]
std-server = [
    "samgrd",
    "samgrd/default",
    "bundlemgrd",
    "bundlemgrd/default",
    "updated",
    "updated/default",
    "keystored",
    "keystored/default",
    "policyd",
    "policyd/default",
    "execd",
    "execd/default",
    "nexus-vfs",
    "nexus-vfs/idl-capnp",
    "packagefsd",
    "packagefsd/default",
    "vfsd",
    "vfsd/default",
    "nexus-ipc",
    "nexus-ipc/std",
    "nexus-sync",
    "serde",
    "toml",
    "thiserror",
    "nexus-idl-runtime",
    "capnp",
]
# os-lite: minimal deps for no_std RISC-V target (no serde/toml/thiserror)
os-lite = [
    "samgrd",
    "samgrd/os-lite",
    "bundlemgrd",
    "bundlemgrd/os-lite",
    "updated",
    "updated/os-lite",
    "keystored",
    "keystored/os-lite",
    "policyd",
    "policyd/os-lite",
    "execd",
    "execd/os-lite",
    "nexus-vfs",
    "nexus-vfs/os-kernel",
    "packagefsd",
    "packagefsd/os-lite",
    "vfsd",
    "vfsd/os-lite",
    "nexus-ipc",
    "nexus-ipc/os-lite",
]
os-payload = [
    "nexus-ipc",
    "nexus-ipc/os-lite",
]

[dependencies]
# Services: use default-features = false so we can select std vs os-lite
samgrd = { path = "../../services/samgrd", optional = true, default-features = false }
bundlemgrd = { path = "../../services/bundlemgrd", optional = true, default-features = false }
updated = { path = "../../services/updated", optional = true, default-features = false }
keystored = { path = "../../services/keystored", optional = true, default-features = false }
policyd = { path = "../../services/policyd", optional = true, default-features = false }
execd = { path = "../../services/execd", optional = true, default-features = false }
nexus-vfs = { path = "../../../userspace/nexus-vfs", optional = true, default-features = false }
packagefsd = { path = "../../services/packagefsd", optional = true, default-features = false }
vfsd = { path = "../../services/vfsd", optional = true, default-features = false }
nexus-ipc = { path = "../../../userspace/nexus-ipc", optional = true, default-features = false }
nexus-sync = { path = "../../libs/nexus-sync", optional = true }
nexus-abi = { path = "../../libs/nexus-abi" }
nexus-log = { path = "../../libs/nexus-log", features = ["sink-userspace"] }
serde = { version = "1", features = ["derive"], optional = true }
toml = { version = "0.8", optional = true }
thiserror = { version = "1", optional = true }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime", optional = true }
capnp = { version = "0.24", optional = true }

[dev-dependencies]
tempfile = "3"
