[package]
name = "nexus-init"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[features]
default = ["std-server"]
std-server = [
    "samgrd",
    "bundlemgrd",
    "keystored",
    "policyd",
    "execd",
    "nexus-vfs",
    "packagefsd",
    "vfsd",
    "nexus-ipc",
    "nexus-sync",
    "serde",
    "toml",
    "thiserror",
    "nexus-idl-runtime",
    "capnp",
]
os-lite = ["std-server", "nexus-ipc/os-lite"]
os-payload = []

[dependencies]
samgrd = { path = "../../services/samgrd", optional = true }
bundlemgrd = { path = "../../services/bundlemgrd", optional = true }
keystored = { path = "../../services/keystored", optional = true }
policyd = { path = "../../services/policyd", optional = true }
execd = { path = "../../services/execd", optional = true }
nexus-vfs = { path = "../../../userspace/nexus-vfs", optional = true }
packagefsd = { path = "../../services/packagefsd", optional = true }
vfsd = { path = "../../services/vfsd", optional = true }
nexus-ipc = { path = "../../../userspace/nexus-ipc", optional = true }
nexus-sync = { path = "../../libs/nexus-sync", optional = true }
nexus-abi = { path = "../../libs/nexus-abi" }
nexus-log = { path = "../../libs/nexus-log", features = ["sink-userspace"] }
serde = { version = "1", features = ["derive"], optional = true }
toml = { version = "0.8", optional = true }
thiserror = { version = "1", optional = true }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime", optional = true }
capnp = { version = "0.19", optional = true }

[dev-dependencies]
tempfile = "3"
