[package]
name = "nexus-net-os"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Open Nexus OS Contributors"]
publish = false

[features]
default = []
os-lite = [
    "dep:nexus-abi",
    "dep:nexus-hal",
    "dep:net-virtio",
    "dep:smoltcp",
]

[dependencies]
nexus-net = { path = "../nexus-net" }

# OS bring-up deps (unsafe MMIO + DMA + smoltcp)
nexus-abi = { path = "../../source/libs/nexus-abi", optional = true }
nexus-hal = { path = "../../source/libs/nexus-hal", optional = true }
net-virtio = { path = "../../source/drivers/net/virtio", optional = true }
smoltcp = { version = "0.10", default-features = false, features = ["alloc", "proto-ipv4", "socket-udp", "socket-tcp", "socket-icmp", "medium-ethernet"], optional = true }
