[package]
name = "selftest-client"
version = "0.1.0"
edition = "2021"
publish = false

[features]
default = []
os-lite = []

[dependencies]
anyhow = "1"
execd = { path = "../../../source/services/execd" }
policy = { path = "../../../userspace/policy" }
bundlemgrd = { path = "../../../source/services/bundlemgrd" }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime" }
nexus-ipc = { path = "../../../userspace/nexus-ipc" }
exec-payloads = { path = "../../../userspace/exec-payloads" }
demo-exit0 = { path = "../../../userspace/apps/demo-exit0" }
capnp = "0.19"
nexus-vfs = { path = "../../../userspace/nexus-vfs", features = ["idl-capnp"] }
keystored = { path = "../../../source/services/keystored" }
policyd = { path = "../../../source/services/policyd" }
samgrd = { path = "../../../source/services/samgrd" }
packagefsd = { path = "../../../source/services/packagefsd" }
vfsd = { path = "../../../source/services/vfsd" }

[target.'cfg(all(nexus_env = "os", feature = "os-lite"))'.dependencies]
nexus-init = { path = "../../../source/init/nexus-init", features = ["os-lite"] }
