[package]
name = "selftest-client"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
execd = { path = "../../../source/services/execd" }
policy = { path = "../../../userspace/policy" }
bundlemgrd = { path = "../../../source/services/bundlemgrd" }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime" }
nexus-ipc = { path = "../../../userspace/nexus-ipc" }
exec-payloads = { path = "../../../userspace/exec-payloads" }
demo-exit0 = { path = "../../../userspace/apps/demo-exit0" }
capnp = "0.19"
nexus-vfs = { path = "../../../userspace/nexus-vfs", features = ["idl-capnp"] }
keystored = { path = "../../../source/services/keystored" }
policyd = { path = "../../../source/services/policyd" }
samgrd = { path = "../../../source/services/samgrd" }
packagefsd_os = { package = "packagefsd-os", path = "../../../source/services/packagefsd-os" }
vfsd_os = { package = "vfsd-os", path = "../../../source/services/vfsd-os" }
