[package]
name = "selftest-client"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
execd = { path = "../../../source/services/execd" }
policy = { path = "../../../userspace/policy" }
bundlemgrd = { path = "../../../source/services/bundlemgrd" }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime" }
nexus-ipc = { path = "../../../userspace/nexus-ipc" }
exec-payloads = { path = "../../../userspace/exec-payloads" }
capnp = "0.19"
