[package]
name = "selftest-client"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
execd = { path = "../../../source/services/execd" }
policy = { path = "../../../userspace/policy" }
