[package]
name = "selftest-client"
version = "0.1.0"
edition = "2021"
publish = false

[features]
default = ["std"]
std = [
    "dep:anyhow",
    "dep:policy",
    "dep:bundlemgrd",
    "dep:nexus-idl-runtime",
    "dep:capnp",
    "dep:nexus-vfs",
    "dep:keystored",
    "dep:policyd",
    "dep:samgrd",
    "dep:packagefsd",
    "dep:vfsd",
    "dep:execd",
    "dep:nexus-init",
]
os-lite = [
    "dep:nexus-service-entry",
    "dep:nexus-abi",
    "dep:nexus-ipc",
    "dep:nexus-vfs",
    "dep:exec-payloads",
    "dep:demo-exit0",
]

[dependencies]
anyhow = { version = "1", optional = true }
policy = { path = "../../../userspace/policy", optional = true }
bundlemgrd = { path = "../../../source/services/bundlemgrd", optional = true }
nexus-idl-runtime = { path = "../../../userspace/nexus-idl-runtime", optional = true }
capnp = { version = "0.19", optional = true }
nexus-vfs = { path = "../../../userspace/nexus-vfs", default-features = false, features = ["os-kernel"], optional = true }
keystored = { path = "../../../source/services/keystored", optional = true }
policyd = { path = "../../../source/services/policyd", optional = true }
samgrd = { path = "../../../source/services/samgrd", optional = true }
packagefsd = { path = "../../../source/services/packagefsd", optional = true }
vfsd = { path = "../../../source/services/vfsd", optional = true }
execd = { path = "../../../source/services/execd", optional = true }
nexus-init = { path = "../../../source/init/nexus-init", features = ["os-lite"], optional = true }

nexus-service-entry = { path = "../../../source/libs/nexus-service-entry", optional = true }
nexus-abi = { path = "../../../source/libs/nexus-abi", optional = true }
nexus-ipc = { path = "../../../userspace/nexus-ipc", default-features = false, features = ["os-lite", "kernel-ipc"], optional = true }
exec-payloads = { path = "../../../userspace/exec-payloads", optional = true }
demo-exit0 = { path = "../../../userspace/apps/demo-exit0", optional = true }
